{% extends "app/layout.html" %}

{% block content %}

<h2>{{ post.title }}</h2><br />

{% if post.image and post.image.url != '/media/temp.jpg' %}
<img src="{{ post.image.url }}" alt="Картинка" width="300" height="200" />
{% endif %}

{% autoescape off %}
<p>{{ post.content|linebreaksbr }}</p>
{% endautoescape %}

{% if user.is_authenticated %}
<h3>Добавить комментарий</h3>
<form method="POST">
    {% csrf_token %}
    <div>
        {{ form.as_p }}
        <button type="submit" class="save btn-default">Отправить комментарий</button>
    </div>
</form>
{% else %}

<h3>Для добавления комментария, пожалуйста, авторизуйтесь</h3>

{% endif %}

{% for comment in comments %}
<h7>{{ comment.date }}</h7>
<h5>{{ comment.author }}</h5>
<p>{{  comment.text|linebreaksbr}}</p>
{% endfor %}

<p><a href="{% url 'blog' %}">Назад</a></p>
{% endblock %}