{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Город Сургут<br />
    Улица 30 Лет Победы 50<br />
    <abbr title="Phone">P:+79846177830</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:помощь@example.com">помощь@example.com</a><br />
    <strong>Для коммерческих предложений:</strong> <a href="mailto:коммпредложение@example.com">коммпредложение@example.com</a>
</address>

{% endblock %}
